<?php
/**
 * NeoTheme Austrlia (Neo Industries Pty Ltd)
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to Neo Industries Pty LTD Non-Distributable Software Modification License (NDSML)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.neotheme.com.au/legal/licenses/NDSM.html
 * If the license is not included with the package or for any other reason, 
 * you did not receive your licence please send an email to 
 * license@neotheme.com.au so we can send you a copy immediately.
 *
 * This software comes with no warrenty of any kind. By Using this software, the user agrees to hold 
 * Neo Industries Pty Ltd harmless of any damage it may cause.
 *
 * @category    modules
 * @module      NeoTheme_Blog
 * @copyright   Copyright (c) 2011 Neo Industries Pty Ltd (http://www.neotheme.com.au)
 * @license     http://www.neotheme.com.au/  Non-Distributable Software Modification License(NDSML 1.0)
 */
/**
 * @see NeoTheme_Blog_Block_Post_List
 */
?>
<h2><?php echo $this->__('Comments'); ?></h2>
<?php if ($this->getCollection()->count() < 1):?>
	<p><?php echo $this->__('There are no comments. Be the first to comment'); ?></p>
<?php endif; ?>
<ol>
	<?php foreach($this->getCollection() as $comment):?>
        <li>
            <?php //maybe a better way of doing this maybe a getChildHtml('summary_');
            
            echo $this->getSummaryBlock($comment)->toHtml(); 
            ?>
        </li>
    <?php endforeach; ?>
</ol>
<?php echo $this->getPagerHtml(); ?>

