<?php
/**
 * NeoTheme Austrlia (Neo Industries Pty Ltd)
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to Neo Industries Pty LTD Non-Distributable Software Modification License (NDSML)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.neotheme.com.au/legal/licenses/NDSM.html
 * If the license is not included with the package or for any other reason, 
 * you did not receive your licence please send an email to 
 * license@neotheme.com.au so we can send you a copy immediately.
 *
 * This software comes with no warrenty of any kind. By Using this software, the user agrees to hold 
 * Neo Industries Pty Ltd harmless of any damage it may cause.
 *
 * @category    modules
 * @module      NeoTheme_ImageRotator
 * @copyright   Copyright (c) 2011 Neo Industries Pty Ltd (http://www.neotheme.com.au)
 * @license     http://www.neotheme.com.au/  Non-Distributable Software Modification License(NDSML 1.0)
 */
/**
 * @see NeoTheme_Blog_Block_Comment_Summary
 */
?>
<?php 
$comment = $this->getComment(); 
$dateformat = Mage::app()->getLocale()->getDateTimeFormat(Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM);
?>
<?php if ($comment->getStatus() == NeoTheme_Blog_Model_Comment::STATUS_ACTIVE): ?>
    <ul class="comment-metadata">
        <li><h4><?php echo $comment->getName(); ?></h4></li>
    	<li><?php echo $this->__(' - ');?><?php echo Mage::app()->getLocale()->date($comment->getCreatedAt())->toString($dateformat); ?></li>
    </ul>
    <?php echo $comment->getComment(); ?>
<?php endif; ?>