<?php
/**
 * NeoTheme Austrlia (Neo Industries Pty Ltd)
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to Neo Industries Pty LTD Non-Distributable Software Modification License (NDSML)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.neotheme.com.au/legal/licenses/NDSM.html
 * If the license is not included with the package or for any other reason, 
 * you did not receive your licence please send an email to 
 * license@neotheme.com.au so we can send you a copy immediately.
 *
 * This software comes with no warrenty of any kind. By Using this software, the user agrees to hold 
 * Neo Industries Pty Ltd harmless of any damage it may cause.
 *
 * @category    modules
 * @module      NeoTheme_ImageRotator
 * @copyright   Copyright (c) 2011 Neo Industries Pty Ltd (http://www.neotheme.com.au)
 * @license     http://www.neotheme.com.au/  Non-Distributable Software Modification License(NDSML 1.0)
 */
/**
 * @see NeoTheme_Blog_Block_Post_Summary
 */
 $formatType = Mage::getStoreConfig(NeoTheme_Blog_Helper_Data::XPATH_CONFIG_DATETIME_FORMAT_TYPE);
 $format = ($formatType != 'custom')?
    Mage::app()->getLocale()->getDateTimeFormat($formatType): 
    Mage::getStoreConfig(NeoTheme_Blog_Helper_Data::XPATH_CONFIG_DATETIME_CUSTOM_FORMAT);
?>
<article class="post">
    <div class="page-title post-title"><h2><a href="<?php echo $this->getPost()->getReadMoreUrl(); ?>"><?php echo $this->getPost()->getTitle(); ?></a></h2></div>
    
    <div class="post-metadata">
        <div class="post-time">
            <?php echo $this->__('Posted On: ');?> 
            <?php $date = ($this->getPost()->getPostDate() != NULL)? $this->getPost()->getPostDate()  : $this->getPost()->getCreatedAt() ; ?>
            <?php  echo Mage::app()->getLocale()->date($date)->toString($format); ?>
            <?php // $timestamp = (int) Mage::app()->getLocale()->date($date)->getTimestamp() ;?>
            <?php // echo date('d D', $timestamp)?><?php // echo date('M', $timestamp)?>
        </div>
        <?php if ($authorName = $this->getPost()->getAuthor()) :?>
        <div class="post-author"><?php echo $this->__('by'); ?> <?php echo $authorName; ?></div>
        <?php endif;?>
    </div>
    
    <div class="post-summary">
		<?php echo $this->getPost()->getSummary(); ?>
        <div class="read-more"><a href="<?php echo $this->getPost()->getReadMoreUrl(); ?>"><?php echo $this->__($this->getPost()->getReadMoreText()); ?></a></div>
    </div>
    
    <div class="post-info">
	<?php if ( (int) $this->getPost()->getStatus() == NeoTheme_Blog_Model_Post::STATUS_DRAFT) : ?>
        	<h3 style="color:red;"><?php echo $this->__('[Draft] (not visible publicly)');?></h3>
        <?php endif; ?>
        
        <?php if ($this->getPost()->getCategories()->count() > 0):?>
        <ul class="post-categories">
            <?php echo $this->__('Posted In: ');?>
            <?php $i = 0; ?>
            <?php foreach($this->getPost()->getCategories() as $category):?>
                <?php $catName =  ($i > 0)? ',' . $category->getName() : $category->getName(); ?>
                    <li><a href="<?php echo $category->getListUrl();?>"><?php echo $catName; ?></a></li>
                <?php $i++; ?>
            <?php endforeach; ?>
        </ul>
        <?php endif; ?>
        <?php if ( Mage::helper('neotheme_blog')->isDefaultCommentingEnabled()) : ?>
        <?php 
         $commentCount = $this->getPost()->getComments()->count();
         $commentText =  ($commentCount == 1) ? $this->__("comment"):$this->__("comments");
        ?>
        <ul>
            <li class="post-comments"><?php echo $commentCount; ?> <?php echo $commentText;?></li>
        </ul>
        <?php endif; ?>
    </div>
    
    <div class="clr"></div>
</article>