<?php
/**
 * NeoTheme Austrlia (Neo Industries Pty Ltd)
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to Neo Industries Pty LTD Non-Distributable Software Modification License (NDSML)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.neotheme.com.au/legal/licenses/NDSM.html
 * If the license is not included with the package or for any other reason, 
 * you did not receive your licence please send an email to 
 * license@neotheme.com.au so we can send you a copy immediately.
 *
 * This software comes with no warrenty of any kind. By Using this software, the user agrees to hold 
 * Neo Industries Pty Ltd harmless of any damage it may cause.
 *
 * @category    modules
 * @module      NeoTheme_ImageRotator
 * @copyright   Copyright (c) 2011 Neo Industries Pty Ltd (http://www.neotheme.com.au)
 * @license     http://www.neotheme.com.au/  Non-Distributable Software Modification License(NDSML 1.0)
 */
/**
 * @see NeoTheme_Blog_Block_Post_List
 */
?>
<?php if ($this->getCollection()->count()): ?>
<!--
This adds the All Categories Link. Now Added into the Block getCollection function as First Category
<?php //if (Mage::getStoreConfig(NeoTheme_Blog_Helper_Data::XPATH_CONFIG_CUSTOMER_PREFERENCES_ENABLE)) :?>
<div class="blog-category">
    <a href="<?php //echo Mage::getUrl('blog/index/all');?> "><?php //echo Mage::helper('neotheme_blog')->__('All Categories');?></a>
</div>
<?php // endif; ?>
-->

<div class="block block-blog">
	<div class="block-title">
    	<strong><?php echo $this->__('Categories'); ?></strong>
    </div>
    <div class="block-content">
        <ul>
            
            <?php foreach($this->getCollection() as $category):?>
                <li><a href="<?php echo $category->getListUrl();?>"><?php echo $category->getName();?></a></li>
            <?php endforeach; ?>
        </ul>
	</div>
</div>
<?php endif; ?>