<?php
/**
 * NeoTheme (Neo Industries Pty Ltd)
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to Neo Industries Pty LTD Non-Distributable Software Modification License (NDSML)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.neotheme.com.au/legal/licenses/NDSM.html
 * If the license is not included with the package or for any other reason, 
 * you did not receive your licence please send an email to 
 * license@neotheme.com.au so we can send you a copy immediately.
 *
 * This software comes with no warrenty of any kind. By Using this software, the user agrees to hold 
 * Neo Industries Pty Ltd harmless of any damage it may cause.
 *
 * @category    modules
 * @module      NeoTheme_Blog
 * @copyright   Copyright (c) 2011 Neo Industries Pty Ltd (http://www.neotheme.com.au)
 * @license     http://www.neotheme.com.au/  Non-Distributable Software Modification License(NDSML 1.0)
 */
/**
 * @see NeoTheme_Blog_Adminhtml_Block_Category
 */
?>

<?php $_element = $this->getElement() ?>
<?php if (!$_element->getNoDisplay()): ?>
<tr>
    <td class="label"><label for="<?php echo $_element->getId(); ?>"><?php echo $_element->getLabel(); ?></label></td>
    <td colspan="3" class="value"><?php echo trim($_element->getElementHtml()) ?></td>
    <div class="autocomplete" id="<?php echo $_element->getId(); ?>_list" style="display:none"></div>
   <!-- <input type="hidden" id="<?php echo $_element->getId(); ?>_hidden" style="display:none"></div>-->
    <script>
        var autoCompleteList = <?php echo $this->getJsonList() ?>;


        new Autocompleter.LocalAdvanced('<?php echo $_element->getId(); ?>', '<?php echo $_element->getId(); ?>_list', autoCompleteList, { });
    </script>
</tr>

<?php endif; ?>
